.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

/* -------------------common styles------------- */
* {
    margin: 0;
}

body {
    margin: 0px 160px;
    background-color: aliceblue;
}

.btn-primary {
    position: static;
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary:hover {

    background: linear-gradient(to bottom, red, orange);
    cursor: pointer;
}


.dark-2 {
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
}

/*--------------- common styles end-------------- */







/* --------------- nav var styles ----------------*/

.nav-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h3 {
    font-size: 32px;
    font-weight: bold;
}

.btn-sign-up {
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    color: #006A50;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 140px;
    height: 60px;
}

.btn-sign-up:hover {
    background: linear-gradient(to bottom, red, orange);
    cursor: pointer;
    color: white;
}

/*-------------- nav-bar styles -----------------end */


/*------------------- banner styles start---------------*/
.banner {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: auto;
    height: 450px;
    margin-top: 50px;
    padding: 80px 60px;
}

.banner-info {
    width: 50%;
}

.banner-subtitle {
    color: #0E0E0E80;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 25px;
}

/* -------------  banner style end ------------- */

/* ---------------piller seciton ------------*/

.piller-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 32px;
}

.piller-boxes {
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.piller-box {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 25px;
    width: 302px;
    height: 244px;
}

.box-title {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
    margin-top: 22px;
    margin-bottom: 12px;
}